*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER  */
header{
    background-color: rgb(14, 110, 245);
    color: white;
}

.logo{
    width: 60px;
    align-self: center;
    display: flex;
}

.fa-bars{
    align-self: center;
    font-size: 25px;

}

.display-none{
    align-self: center;
}

/* MAIN  */
#phone{
    margin-bottom: 0;
}

.col-100.col-67{
    padding-bottom: 0;
}



.content.bg-white.text-center{
    border-radius: 20px;
    padding: 10px;
}

.fa-arrow-down{
    background-color: rgb(136, 99, 198);
    padding: 10px;
    border-radius: 50%;

}

.testimonial{
    border-radius: 30%;
}

/* FOOTER  */
footer{
    background-color: rgb(22, 22, 22);
    color: white;
}

/* UTILITY */

.container{
    max-width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}


.col-100{
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
}

.col-50{
    margin: 10px;
}

.display-none{
    display: none;
}

img{
    width: 15rem;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

li{
    align-self: center;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.center{
    align-self: center;
}

button{
    padding: 5px 10%;
    border-radius: 35%;
    border: none;
}

.content * {
    margin: 15px 0;
}

.fa-file-code , .fa-compass-drafting , .fa-laptop-code , .fa-bullhorn {
    font-size: 4rem;
    color: rgb(5, 83, 230);
}

.relative{
    position: relative;
}

.text-center{
    text-align: center;
}



/* COLORS */
.bg-sky-blue{
    background-color: skyblue;
}

.bg-purple{
    background-color: rgb(136, 99, 198);
}

.bg-blue{
    background-color: rgb(5, 83, 230);
}

.bg-white{
    background-color: white;
}

.blue{
    color: rgb(5, 83, 230);
}

.white{
    color: white;
}

.purple{
    color: rgb(136, 99, 198);
}

/* MEDIA QUERY */

/* TABLET */
@media screen and (min-width : 768px){
    
    .col-67{
        width: calc(100% / 3 * 2 - 20px );
    }
    
    .col-50{
        width: calc(100% / 2 - 20px);
    }
    
    .col-33{
        width: calc(100% / 3 - 20px);
    }
}

/* DESKTOP */
@media screen and (min-width : 991px){
    .display-none{
        display: inline;
    }

    .col-header{
        display: none;
    }

    #col-50{
        width: calc(100% / 2 - 20px);
    }

    #col-33{
        width: calc(100% / 3 - 20px);
    }

    #phone{
        float: right;
    }
}